<div class="modal-header bg-primary text-white">
  <h4>Caixa de Entrada</h4>
</div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div>
            <strong>Remetente:</strong> John Doe
          </div>
          <div>
            <small>2 horas atrás</small>
          </div>
        </div>
        <p>Olá, como você está?</p>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <div>
            <strong>Remetente:</strong> Jane Smith
          </div>
          <div>
            <small>Ontem</small>
          </div>
        </div>
        <p>Reunião marcada para amanhã às 10h.</p>
      </li>
      <div class="modal-footer">
        <button type="button" class="btn btn-close" (click)="bsModalRef.hide()"></button>
      </div>
    </ul>
  </div>
