@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.rounded-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
}

p{
  opacity: 75%;
}

.no-underline {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}
